services:
  db:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changethis
      - POSTGRES_DB=app
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "8000:80"
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changethis
      - POSTGRES_DB=app
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv

volumes:
  postgres_data:
